@import 'tailwindcss';

/*
------------------ FONTS ------------------ 
    ~Usage~
        Add local fonts into the website, just insert the
        file into /src/fonts and follow the templates below
*/

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/Lato.ttf') format('truetype');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/Lato.ttf') format('truetype');
}

@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url('fonts/DM Mono.ttf') format('truetype');
}

/*
------------------ BASE ------------------ 
    ~Usage~
        Root level component styling, mainly
		for default html tags.
*/
@layer base {
	option,
	span,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-900 dark:text-white;
		font-family: Lato, 'Courier New', Courier, monospace;
	}
}

/*
------------------ THEME ------------------ 
    ~Usage~
        The themes directive allows us to add custom "design tokens" like
		fonts, colors, and breakpoints into this project
*/
@theme {
	/* For example, we can define out lato font like so */
	--font-lato: Lato, Tahoma, sans-serif;

	/* Colors as well */
	--color-primary-100: #e7f8fe;
	--color-primary-200: #cef0fd;
	--color-primary-300: #bbebfc;
	--color-primary-400: #a2e3fb;
	--color-primary-500: #8adcfa;
	--color-primary-600: #40c6f7;
	--color-primary-700: #0aa8e1;
	--color-primary-800: #066d93;
	--color-primary-900: #033749;
	--color-primary-950: #021d27;
	--color-primary-1000: #00070a;
}
/*
------------------ UTILITIES ------------------ 
    ~Usage~
	These are classes that could be used project-wide.
*/
@layer utilities {
	/* 
		Text Opacities [hint|soft|dim|faded|muted|subtle|full] 
					   10%  20%  30% 40%   60%   80%    100%

		~Usage~
		.text-muted // white or black depending on dark mode
		.bg-hint // Same thing
	*/

	.ease-bounce {
		transition-timing-function: cubic-bezier(1,.5,.24,.62);
	}

	.ease-out {
		transition-timing-function: ease-out;
	}

	.border-def {
		border-color: #9fa3a4;
	}
	.dark .border-def {
		border-color: #3a3f41;
	}

	.text-hint {
		color: rgba(0, 0, 0, 0.1);
	}
	.dark .text-hint {
		color: rgba(255, 255, 255, 0.1);
	}

	.text-soft {
		color: rgba(0, 0, 0, 0.2);
	}
	.dark .text-soft {
		color: rgba(255, 255, 255, 0.2);
	}

	.text-dim {
		color: rgba(0, 0, 0, 0.3);
	}
	.dark .text-dim {
		color: rgba(255, 255, 255, 0.3);
	}

	.text-faded {
		color: rgba(0, 0, 0, 0.4);
	}
	.dark .text-faded {
		color: rgba(255, 255, 255, 0.4);
	}

	.text-muted {
		color: rgba(0, 0, 0, 0.6);
	}
	.dark .text-muted {
		color: rgba(255, 255, 255, 0.6);
	}

	.text-subtle {
		color: rgba(0, 0, 0, 0.8);
	}
	.dark .text-subtle {
		color: rgba(255, 255, 255, 0.8);
	}

	.text-full {
		color: rgba(0, 0, 0, 1);
	}
	.dark .text-full {
		color: rgba(255, 255, 255, 1);
	}

	/* Background Opacities - Auto Switching for Dark Mode */
	.bg-hint {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.dark .bg-hint {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.bg-soft {
		background-color: rgba(0, 0, 0, 0.2);
	}
	.dark .bg-soft {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.bg-dim {
		background-color: rgba(0, 0, 0, 0.3);
	}
	.dark .bg-dim {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.bg-faded {
		background-color: rgba(0, 0, 0, 0.4);
	}
	.dark .bg-faded {
		background-color: rgba(255, 255, 255, 0.4);
	}

	.bg-muted {
		background-color: rgba(0, 0, 0, 0.6);
	}
	.dark .bg-muted {
		background-color: rgba(255, 255, 255, 0.6);
	}

	.bg-subtle {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.dark .bg-subtle {
		background-color: rgba(255, 255, 255, 0.8);
	}

	.bg-full {
		background-color: rgba(0, 0, 0, 1);
	}
	.dark .bg-full {
		background-color: rgba(255, 255, 255, 1);
	}
}

/*
------------------ COMPONENTS ------------------ 
    ~Usage~
	These stylings are used for one specific svelte-kit component
*/
@layer components {
	.animate {
		@apply ease-in-out;
		transition-duration: 300ms;
	}

	.animate-all {
		* {
			@apply ease-in-out;
			transition-duration: 300ms;
		}
	}
}

@custom-variant dark (&:where(.dark, .dark *));
